.cards-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    row-gap: 50px;
    place-items: center;
    margin-bottom: 50px;

    & .link-country {
        text-decoration: none;
        color: black;
    }
}