/* Colors */
$dark-mode-elements: #2b3945;
$dark-mode-background: #202c37;
$dark-mode-text: #111517;
$white-mode-inputs: #858585;
$white-mode-background: #fafafa;
$white-mode-elements: #ffffff;
$white-mode-text: #ffffff;
/* Font */
$font: 'Nunito Sans', sans-serif;
$font-300: 300;
$font-600: 600;
$font-800: 800;
/*  Breakpoints */
$bp-mobile-min: 375px;
$bp-mobile-max: 480px;
$bp-tablet-min: 520px;
$bp-tablet-max: 768px;
$bp-desktop-small:980px;