/* Colors */
$dark-mode-elements: hsl(209, 23%, 22%);
$dark-mode-background: hsl(207, 26%, 17%);
$dark-mode-text: hsl(200, 15%, 8%);
$white-mode-inputs: hsl(0, 0%, 52%);
$white-mode-background: hsl(0, 0%, 98%);
$white-mode-elements: hsl(0, 0%, 100%);
$white-mode-text: hsl(0, 0%, 100%);
/* Font */
$font: 'Nunito Sans', sans-serif;
$font-300: 300;
$font-600: 600;
$font-800: 800;