@use './scss/abstract' as *;
@use './scss/components/' as *;

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: $white-mode-background;
}

// .container {
//     padding: 10px;
//     margin: 0 30px;
// }